.station-admin-container {
  display: flex;
  flex-wrap: wrap;
}

.left-sidebar {
  flex: 1 1 auto; /* Initially take up remaining space */
  padding: 10px;
  border-color: #4CAF50;
  background-color: #a4a9a2;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #4CAF50;
  border-radius: 10px;
  margin: 10px;
  max-width: 100%; /* Limit maximum width */
}

.left-sidebar button {
  background-color: #4CAF50;
  color: white;
  padding-bottom: 14px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.station-covers {
  width: 100%;
}

.right-sidebar {
  flex: 1 1 auto; /* Initially take up remaining space */
  padding: 20px;
  background-color: #e0e0e0;
  margin: 10px;
  max-width: 100%; /* Limit maximum width */
}

.right-sidebar button {
  background-color: #4CAF50;
  color: white;
  padding-bottom: 14px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.add-technician-button {
  background-color: #4CAF50;
  color: white;
  padding-bottom: 14px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* Media Queries for responsiveness */

@media only screen and (max-width: 577px) {
  /* For mobile screens */
  .left-sidebar,
  .right-sidebar {
    flex: 1 1 100%; /* Take up full width individually */
    max-width: 100%; /* Remove maximum width limit */
  }
}
