/* CSS file */

.station-admin-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.left-sidebar button {
  background-color: #4fade3;
  color: white;
  padding-bottom: 14px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 90%;
}

.cover-image {
  width: 100%;
  height: 300px;
}

.station-info input {
  border: 1px solid #6addef; /* Green border for input fields */
  border-radius: 4px;
  padding: 10px;
}

.station-info input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #4ebee0; /* Change border color on focus */
}

.right-sidebar {
  flex: 1 1 auto; /* Initially take up remaining space */
  padding: 10px;
  background-color: #e0e0e0;
  margin: 5px;
  max-width: 100%; /* Limit maximum width */
}

.right-sidebar button {
  background-color: #58b5e4;
  color: white;
  padding-bottom: 14px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.add-technician-button {
  background-color: #5ab3dc;
  color: white;
  padding-bottom: 14px;
  margin: 8px 2px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 577px) {
  /* For mobile screens */
  .left-sidebar,
  .right-sidebar {
    flex: 1 1 100%; /* Take up full width individually */
    max-width: 100%; /* Remove maximum width limit */
  }
}
