.container {
  max-width: 500px;
  margin: auto;
}

.appointment-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 20px;
}

.form-control {
  background-color: rgb(174, 174, 169) !important;
}