.my-specialists-table {
  width: 90%;
  border-collapse: collapse;
}

.my-specialists-table th,
.my-specialists-table td {
  padding: 7px;
  border: 1px solid #ddd;
}

.my-specialists-table th {
  background-color: #f2f2f2;
  text-align: left;

}

/* .my-specialists-table th:first-child,
.my-specialists-table td:first-child {
  padding-left: 16px;
} */

.my-specialists-table th:last-child,
.my-specialists-table td:last-child {
  padding-right: 16px;
}

.my-specialists-table tr:hover {
  background-color: #f5f5f5;
}

.print-button-container {
  margin-top: 20px;
  text-align: center;
}

/* Ensuring name and phone are in one line */
.my-specialists-table td:nth-child(1),
.my-specialists-table td:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
