.my-patients-table {
  width: 100%;
  border-collapse: collapse;
}

.my-patients-table th,
.my-patients-table td {
  padding: 24px;
  border: 1px solid #ddd;
  white-space: nowrap; /* Prevent text from wrapping */
}

.my-patients-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.my-patients-table th:first-child,
.my-patients-table td:first-child {
  padding-left: 16px;
}

.my-patients-table th:last-child,
.my-patients-table td:last-child {
  padding-right: 16px;
}

.my-patients-table tr:hover {
  background-color: #f5f5f5;
}

.patient-name {
  text-decoration: none;
  color: #1890ff;
}

.patient-name:hover {
  text-decoration: underline;
}
/* Add this CSS to your MyPatients.css file */

.my-patients-table th {
  font-weight: normal;
  color: inherit;
}
