.info .icon {
    margin-top: 2px;
    font-size: 22px;
    color:#1b99cb;
    padding: 5px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    /* color: #2c4964; */
}
.contact .info p {
    font-size: 14px;
    /* color: #1b99cb; */
}
.contact .appointment-btn {
    border: 0 !important;
    background: #3487df;
}
/* Targeting all input types within the form and textarea specifically */
 
/* More specific selectors for input fields within forms */
.form-control:focus, textarea.form-control:focus {
    border: 2px solid #3487df !important; /* Green border */
    outline: none; /* Removes the default focus outline */
}

