.container {
    padding: 20px;
}

.section-title {
    margin-bottom: 10px;
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
   

}
.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar::after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
}
.search-bar input:focus {
    outline: none;
    border-color: #53db14;
    box-shadow: 1 10 20 10 5px #40ba07;
}


.stations-list {
    max-height: 100px; /* Set maximum height for vertical scroll */
     /* Enable vertical scrolling */
}

.station-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.station-card img {
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
}

.station-info {
    padding: 10px;
}

.station-info h3 {
    margin: 0;
}

.station-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.view-details-button{
    background-color: green;
    color: #fff;
}