.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: #ccc 1px solid;
  padding: 20px;

}
.form-container label {
  display: block;
  width: 150px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.form-container input, .form-container textarea , .form-container select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-decoration-break: clone;
  box-shadow: 10px 0 5px rgba(0, 0, 0, 0.1);
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

.input {
  width: 100%;
}

.submit-button-container {
  margin-top: 20px;
  text-align: right;
}

.image-preview-container {
  margin-top: 20px;
}

.image-preview {
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-page {
  width: 50%;
  margin-top: 20px;
}


.form-page {
  width: 50%;
  margin-top: 20px;
}

.button-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 120px;
}

.button[type="primary"] {
  background-color: #40a9ff;
}

.button[type="primary"]:hover {
  background-color: #1890ff;
}

.button[type="primary"]:disabled {
  background-color: #d9d9d9;
  color: #000;
}
.upload-images-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upload-images-container .ant-upload {
  width: 100%;
}

.image-preview-container {
  width: 100%;
  margin-top: 16px;
  border: 1px dashed #d9d9d9;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-preview-container .image-preview {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  margin-bottom: 16px;
}
