.form-container {

  display: flex;
  flex-direction: column;
 margin-left: 300px;
 margin-right: 300px;
  margin-top: 20px;
  padding: 10px;
}

.form-container label {
  display: block;
  width: 150px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.form-container input ,
.form-container textarea {
   /* Adjusted width to accommodate label */
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(176, 170, 170);
}


.medical{
  margin-top: 30px;
}
.upload-images-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upload-images-container .ant-upload {
  width: 100%;
}

.image-preview-container {
  width: 100%;
  margin-top: 16px;
  border: 1px dashed #d9d9d9;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-preview-container .image-preview {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 120px;
}

.submit-button-container {
  margin-top: 20px;
  text-align: right;
}

.button[type="primary"] {
  background-color: #40a9ff;
  border: none;
}

.button[type="primary"]:hover {
  background-color: #20ff18;
}

.button[type="primary"]:disabled {
  background-color: #d9d9d9;
  color: #000;
}
