.form-container {
  display: flex;
  justify-content: space-between;
}

.form-column {
  width: 47%; 
  margin-right: 20px; /* Adjust as needed */
  margin-left: 20px; /* Adjust as needed */

}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-upload-container {
  margin-top: 20px;
  text-align: center;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.image-preview {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Add more styles as needed */
.input{
    width: 100%;
 
    border: 1px solid #ccc;
    border-radius: 4px;
  
}
/* PatientCredentialsForm.css */
form.item label {
  width: 200px; /* Adjust the width as needed */
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
}