.container {
  margin-top: 10px;
}

/*  */

.appointment-form {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #3487df; /* Forest green */
}
.form-group textarea{
  background-color: #fff;
}

input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #3487df; /* Forest green */
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5); /* Increase checkbox size */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #3487df; /* Forest green */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.headerapp{

  margin-bottom:100px;
}


